<div align="center">
    <h5>Capital</h5>
    <div>

        <h7>Capital autorizado de la sociedad:</h7>
        <input type="number" ng-model="cont.capitalAutorizado">
    </div>
    <div>
        <h7>Capital suscrito de la sociedad:</h7>
        <input type="number" ng-model="cont.capitalSuscrito">
    </div>
    <div>
        <h7>Capital pagado de la sociedad:</h7>
        <input type="number" ng-model="cont.capitalPagado">
    </div>
    <h5>Acciones</h5>
    <div>

        <h7>Valor nominal acciones:</h7>
        <input type="number" ng-model="cont.accionesValorNominal">
    </div>
    <div>
        <h7>Número de acciones suscritas:</h7>
        <input type="number" ng-model="cont.accionesSuscritas">
    </div>
    <div>
        <h7>Número de acciones pagadas:</h7>
        <input type="number" ng-model="cont.accionesPagadas">
    </div>


    <div>

        <a href="#!composicionAccionaria">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>