<div align="center">

    <h5>Composición Accionaría</h5>
    <span ng-repeat="num in cont.numeros | limitTo:cont.numerojuridicas">
        <div>

            <b>Accionista {{$index+1}} {{cont.razonSocial[$index]}} </b>
            Acciones suscritas:
            <input type="number" ng-model="cont.accionesSuscritasTabla[$index]"  ng-change="sumatoriaAccionesSuscritas([$index])">
            Acciones pagadas:
            <input type="number" ng-model="cont.accionesPagadasTabla[$index]" ng-change="sumatoriaAccionesPagadas([$index])">
            Capital total:
            <input type="number" ng-model="cont.capitalTotalTabla[$index]" ng-change="sumatoriaCapitalTotal([$index])">
        </div>
        
    </span>
    <span ng-repeat="num in cont.numeros | limitTo:cont.numeroNaturales">
        <div>
            <b>Accionista {{$index+1+cont.numerojuridicas}} {{cont.nombres[$index]}} {{cont.apellidos[$index]}}</b>
            Acciones suscritas:
            <input type="number" ng-model="cont.accionesSuscritasTabla[$index + cont.numerojuridicas]" ng-change="sumatoriaAccionesSuscritas([$index+ cont.numerojuridicas])">
            Acciones pagadas:
            <input type="number" ng-model="cont.accionesPagadasTabla[$index + cont.numerojuridicas]" ng-change="sumatoriaAccionesPagadas([$index+ cont.numerojuridicas])">
            Capital total:
            <input type="number" ng-model="cont.capitalTotalTabla[$index+ cont.numerojuridicas]" ng-change="sumatoriaCapitalTotal([$index+ cont.numerojuridicas])">
        </div>
        
    </span>


    <div>

        <a href="#!derechosAccionistas">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>