<div align="center">

    <h5>¿Como se solucionaran las controversias asociadas a este documento?</h5>

    <select ng-model="cont.controversia">
        <option value="Toda diferencia o controversia relativa a este contrato y a su ejecución y liquidación se resolverá por la justicia ordinaria">Justicia ordinaria</option>
        <option value="Toda diferencia o controversia relativa a este contrato y a su ejecución y liquidación se resolverá por un Tribunal de Arbitramento designado por la Cámara de Comercio de xxx mediante sorteo entre los árbitros inscritos en las listas que lleva dicha Cámara. El Tribunal así constituido se sujetará a lo dispuesto a la ley 1563 de 2012 y a las demás disposiciones legales que lo modifiquen o adicionen, de acuerdo con las siguientes reglas:
        a) El Tribunal estará integrado por tres árbitros, salvo que el reglamento del Centro de Arbitraje y Conciliación determine otra cosa.
        b) La organización interna del Tribunal se sujetará a las reglas previstas para el efecto por el Centro de Arbitraje de la Cámara de Comercio de xxx.
        c) El Tribunal decidirá en derecho, y 
        d) El Tribunal funcionará en la ciudad de xxxx en el Centro de Arbitraje de la Cámara de Comercio de esta ciudad.
        ">Tribunal de Arbitramento </option>
    </select>

    <h5>Fecha redacción documento</h5>
    Día en el que se redactó:
    <input type="number" min="1" max="31" ng-model="cont.diasDoc"> Mes:
    <input type="text" ng-model="cont.mesDoc"> Año:
    <input type="text" ng-model="cont.anioDoc">Ciudad:
    <input type="text" ng-model="cont.ciudadDoc">

    <div>

        <a href="#!index">
            <input type="submit" value="Reiniciar" class="btn">
        </a>
    </div>
</div>
<hr>