<div align="center">
    <h5>Derechos Accionistas</h5>
    <div>

        <h7>Limitación venta de acciones:</h7>
        <select ng-model="cont.limitacionVenta">
            <option value=" ">Sin límite</option>
            <option value="Igualmente las acciones no podrán ser negociadas por los accionistas dentro del término de 1 año, posteriormente serán libremente negociables.">1 año</option>
            <option value="Igualmente las acciones no podrán ser negociadas por los accionistas dentro del término de 2 años, posteriormente serán libremente negociables.">2 años</option>
            <option value="Igualmente las acciones no podrán ser negociadas por los accionistas dentro del término de 3 años, posteriormente serán libremente negociables.">3 años</option>
            <option value="Igualmente las acciones no podrán ser negociadas por los accionistas dentro del término de 4 años, posteriormente serán libremente negociables.">4 años</option>
            <option value="Igualmente las acciones no podrán ser negociadas por los accionistas dentro del término de 5 años, posteriormente serán libremente negociables.">5 años</option>
            <option value="Igualmente las acciones no podrán ser negociadas por los accionistas dentro del término de 6 años, posteriormente serán libremente negociables.">6 años</option>
            <option value="Igualmente las acciones no podrán ser negociadas por los accionistas dentro del término de 7 años, posteriormente serán libremente negociables.">7 años</option>
            <option value="Igualmente las acciones no podrán ser negociadas por los accionistas dentro del término de 8 años, posteriormente serán libremente negociables.">8 años</option>
            <option value="Igualmente las acciones no podrán ser negociadas por los accionistas dentro del término de 9 años, posteriormente serán libremente negociables.">9 años</option>
            <option value="Igualmente las acciones no podrán ser negociadas por los accionistas dentro del término de 10 años, posteriormente serán libremente negociables.">10 años</option>
        </select>
    </div>
    <div>
        <h7>Derecho de preferencia venta de acciones</h7>
        <select ng-model="cont.derechoPreferencia" ng-change="derechodePreferencia()">
            <option value="Igualmente las acciones no podrán ser ofertadas a terceros sin antes ser ofertadas a los demás accionistas, en ejercicio del derecho de preferencia conforme lo establecido en el numeral 14 de los estatutos.">Sí</option>
            <option value="" >No</option>
        </select>

    </div>

    <div>

        <a href="#!dias">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>