<div align="center">
    <h5>Especificaciones días</h5>
    <div>

        <h7>Días convocatoria asamblea ordinaria:</h7>
        <span>

            <input type="number" ng-model="cont.a17 ">
            Número en letras:
            <input type="text" ng-model="cont.a17texto">
        </span>
    </div>
    <div>

        <h7>Días convocatoria asamblea extraordinaria:</h7>
        <span>

            <input type="number" ng-model="cont.a172 ">
            Número en letras:
            <input type="text" ng-model="cont.a17texto2">
        </span>
    </div>
    <div>

        <h7>Porcentaje acciones suscritas en caso de segunda asamblea :</h7>
        <span>

            <input type="number" ng-model="cont.a20 ">
            Porcentaje en letras:
            <input type="text" ng-model="cont.a20texto">
        </span>
    </div>
    <div>

        <h7>Porcentaje mínimo reformas estatuitarias:</h7>
        <span>

            <input type="number" ng-model="cont.a202 ">
            Porcentaje en letras:
            <input type="text" ng-model="cont.a20texto2">
        </span>
    </div>
    <div>

        <h7>Porcentaje mínimo quórum accionistas sesiones ordinarias:</h7>
        <span>

            <input type="number" ng-model="cont.a21 ">
            Porcentaje en letras:
            <input type="text" ng-model="cont.a21texto">
        </span>
    </div>
    <div>

        <h7>Porcentaje mínimo aprobación reformas estatuitarias:</h7>
        <span>

            <input type="number" ng-model="cont.a212 ">
            Porcentaje en letras:
            <input type="text" ng-model="cont.a21texto2">
        </span>
    </div>
    <div>

        <h7>Periodo en años Gerente y Sub gerente:</h7>
        <span>

            <input type="number" ng-model="cont.a26 ">
            Número en letras:
            <input type="text" ng-model="cont.a26texto">
        </span>
    </div>
    <div>

        <h7>Límite actos o contratos en SMLV:</h7>
        <span>

            <input type="number" ng-model="cont.a262 ">
            Porcentaje en letras:
            <input type="text" ng-model="cont.a26texto2">
        </span>
    </div>




    <div>

        <a href="#!funcionesAsamblea">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>