<div align="center">

    <h5>¿En que ciudad será el domicilio de la sociedad?</h5>

    <input type="text" ng-model="cont.domicilioSociedad" placeholder="Domicilio Sociedad">
    <div>

        <a href="#!objeto">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>