<div align="center">


    <h5>¿Qué duración tendrá la sociedad?</h5>
    <select ng-model="cont.duracion">
        <option value="indefinida">Indefinida</option>
        <option value="1 año">1 año</option>
        <option value="2 años">2 años</option>
        <option value="3 años">3 años</option>
        <option value="4 años">4 años</option>
        <option value="5 años">5 años</option>
        <option value="6 años">6 años</option>
        <option value="7 años">7 años</option>
        <option value="8 años">8 años</option>
        <option value="9 años">9 años</option>
        <option value="10 años">10 años</option>
        <option value="11 años">11 años</option>
        <option value="12 años">12 años</option>
    </select>

    <div>

        <a href="#!capital">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>