<div align="center">
    <h5>Funciones extras asamblea</h5>
    <div>

        <h7>¿Cuantas funciones extras de la asamblea desea añadir?</h7>
        <span>

            <input type="number" ng-model="cont.numeroFuncionesExtra "min="0" max="20">
            
        </span>
        <ol ng-repeat="num in cont.letras | limitTo:cont.numeroFuncionesExtra">
            <b>{{num}}</b>
            <span>
                Descripción:
                <input type="text" ng-model="cont.funcionesExtra[$index]">
               
            </span>

        </ol>
    </div>


    <div>

        <a href="#!reservaLegal">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>