<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constitución de sociedad</title>
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="html2pdf.bundle.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


</head>
<header style="text-align: center;">
    <h3 style="margin-top: 1cm;">Constitución de sociedad</h3>
</header>

<body ng-controller="appControlador as cont">

    <div class="margenesbody">
        <div ng-view></div>
    </div>
    <div id="documento" style="text-align: justify;">
        <div style="text-align: center;">

            <b style="text-transform: uppercase;">ESTATUTOS SOCIALES DE CONSTITUCIÓN <br>PARA LA SOCIEDAD {{cont.nombreEmpresa}}
                </b>
        </div>
        <br>
        <b>Sigla: {{cont.siglas}}</b>
        <div style="text-align: center;"><b>ACCIONISTAS</b>

        </div>
        <ol ng-repeat="num in cont.razonSocial | limitTo:cont.numerojuridicas">
            <span>Persona jurídica: {{cont.razonSocial[$index]}}, {{cont.nit[$index]}}, {{cont.numeroMatricula[$index]}} ,
                {{cont.fechaMatricula[$index]}}, {{cont.lugarMatricula[$index]}}

            </span>

        </ol>
        <ol ng-repeat="num in cont.nombres | limitTo:cont.numeroNaturales">
            <span>Persona natural: {{cont.nombres[$index]}} {{cont.apellidos[$index]}} {{cont.tipodoc[$index]}} 
                {{cont.numeroid[$index]}}, {{cont.fechaExpedicion[$index]}}, {{cont.lugarExpedicion[$index]}}

            </span> con plenas facultades para constituir la sociedad que por este documento se procede a formalizar, regulada en virtud de la ley 1258 de 2008 y que se regirá por lo siguientes estatutos:

        </ol>

        <div style="text-align: center;"><b>CAPITULO I</b>
        </div>
        <div style="text-align: center;"><b>LA SOCIEDAD EN GENERAL</b>
        </div>
        <span><b>ARTÍCULO. 1°. RAZÓN SOCIAL: </b> La sociedad será por acciones simplificada S.A.S. y girará bajo la razón social de {{cont.nombreEmpresa}} -SIGLA {{cont.siglas}}</span>
        <br>
        <span><b>ARTÍCULO. 2°. DOMICILIO: </b>El domicilio de la sociedad estará en la ciudad de {{cont.domicilioSociedad}}, pero podrá crear sucursales, agencias o dependencias en otros lugares del país o del exterior, por disposición de los accionistas y con arreglo a la ley. </p></span>
        <span><b>ARTÍCULO. 3°. OBJETO:  </b>
            La sociedad tendrá como objeto principal: 
            <span ng-repeat="num in cont.numeros | limitTo:cont.numeroObjeto">
                {{cont.descripcionCIIU[$index]}} ({{cont.ciiu[$index]}}).

            </span> Asi mismo, podrá realizar cualquier otra actividad económica licita tanto en Colombia como en el extranjero.
        <b>Parágrafo: </b> Para el desarrollo de los anteriores objetos que se traducen en las actividades económicas, la sociedad podrá celebrar y ejecutar, en su propio nombre o por cuenta de terceros, todos los actos, contratos de prestación de servicios
        y operaciones industriales y comerciales, tanto de disposición, conservación, implementación, conducentes a la consecución y cumplimiento de los objetivos sociales.
        </span>
        <br><br>
        <span><b>ARTÍCULO. 4°. DURACIÓN: </b>La sociedad tendrá una duración  {{cont.duracion}} y se disolverá cuando así lo decidan los accionistas conforme lo establecido en estos estatutos.</span>
        <br><br>

        <span><b>ARTÍCULO 5°. CAPITAL AUTORIZADO, SUSCRITO Y PAGADO.  </b>El capital autorizado de la sociedad es la suma de ${{cont.capitalAutorizado}}. El capital suscrito de la sociedad es de ${{cont.capitalSuscrito}} y el capital pagado de la sociedad es la suma de ${{cont.capitalPagado}}.</span>
        <br><br>
        <span><b>ARTÍCULO 6°. ACCIONES.  </b>La sociedad cuenta con número acciones autorizadas, suscritas y pagadas de valor nominal de ${{cont.accionesValorNominal}}, cada una y con la firma de esta acta se suscriben {{cont.accionesSuscritas}} y pagan {{cont.accionesPagadas}} acciones nominales ordinarias.  En consecuencia, la composición accionaria será la siguiente:</span>
        <br>
        <style type="text/css">
            .tg {
                border-collapse: collapse;
                border-color: #93a1a1;
                border-spacing: 0;
            }
            
            .tg td {
                background-color: #fdf6e3;
                border-color: #93a1a1;
                border-style: solid;
                border-width: 1px;
                color: #002b36;
                font-family: Arial, sans-serif;
                font-size: 14px;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }
            
            .tg th {
                background-color: #657b83;
                border-color: #93a1a1;
                border-style: solid;
                border-width: 1px;
                color: #fdf6e3;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }
            
            .tg .tg-baqh {
                text-align: center;
                vertical-align: top
            }
            
            .tg .tg-0lax {
                text-align: left;
                vertical-align: top
            }
        </style>
        <table class="tg">
            <thead>
                <tr>
                    <th class="tg-baqh">Accionistas</th>
                    <th class="tg-0lax">Acciones suscritas</th>
                    <th class="tg-0lax">Acciones pagadas</th>
                    <th class="tg-0lax">CAPITAL TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="num in cont.numeros | limitTo:cont.numerojuridicas ">
                    <td class="tg-baqh">{{cont.razonSocial[$index]}}</td>
                    <td class="tg-0lax">{{cont.accionesSuscritasTabla[$index]}}</td>
                    <td class="tg-0lax">{{cont.accionesPagadasTabla[$index]}}</td>
                    <td class="tg-0lax">{{cont.capitalTotalTabla[$index]}}</td>
                </tr>
                <tr ng-repeat="num in cont.numeros | limitTo:cont.numeroNaturales ">
                    <td class="tg-baqh">{{cont.nombres[$index]}} {{cont.apellidos[$index]}}</td>
                    <td class="tg-0lax">{{cont.accionesSuscritasTabla[$index +cont.numerojuridicas]}}</td>
                    <td class="tg-0lax">{{cont.accionesPagadasTabla[$index +cont.numerojuridicas]}}</td>
                    <td class="tg-0lax">{{cont.capitalTotalTabla[$index + cont.numerojuridicas]}}</td>
                </tr>
                <tr>
                    <td class="tg-baqh">Totales</td>
                    <td class="tg-0lax">{{cont.sumaAccionesSuscritasTabla}}</td>
                    <td class="tg-0lax">{{cont.sumaAccionesPagadasTabla}}</td>
                    <td class="tg-0lax">{{cont.sumaCapitalTotal}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <span><b>PARÁGRAFO PRIMERO.- </b >La responsabilidad de los accionistas queda limitada a sus aportes únicamente.</span>
        <br>
        <span><b>ARTÍCULO 7°. </b>Aumento de Capital suscrito: El capital social suscrito podrá aumentar siempre que así lo disponga la Asamblea General de Accionistas, por nuevos aportes de los accionistas o de nuevos accionistas, en cualquier caso se hará de acuerdo a lo establecido en los presentes estatutos y en la ley. El aumento se hará mediante la correspondiente reforma estatutaria.</span>
        <br><br>
        <p>Las acciones nominativas ordinarias no suscritas podrán ser emitidas mediante decisión de la Asamblea General de Accionistas. </p>
        <span><b>ARTÍCULO 8°. </b>Capitalización: La Asamblea General de Accionistas podrá convertir en capital social, mediante la emisión de nuevas acciones, o el aumento del valor nominal de las ya existentes, cualquier reserva de ganancias y cualquier utilidad líquida a repartir. Es entendido que esta norma no alcanza a aquella reserva que por su naturaleza o por disposición legal no sea susceptible de capitalización.</span>
        <br><br>
        <span><b>ARTÍCULO. 9°. </b>Colocación de Acciones: Para la colocación de acciones proveniente de cualquier aumento social, se preferirá como suscriptores a quien sea accionista salvo que la Asamblea General de Accionistas resuelva lo contrario para casos concretos.  Los accionistas podrán suscribir las nuevas acciones en proporción a su participación actual en la sociedad acogiendo la proporción del número de acciones en circulación.  Para la cesión y venta de acciones se respetará el derecho de preferencia consagrado en la ley comercial.</span>
        <br><br>
        <span><b>ARTÍCULO 10°. </b>Derechos de los accionistas: En el evento en que la sociedad adquiera mas accionistas, todas las acciones confieren al titular igual derecho en el haber social y en los beneficios que se reparten y cada una de ellas tiene derecho a un voto en las deliberaciones de la Asamblea General de Accionistas, sin limitación alguna. 
        {{cont.limitacionVenta}}{{cont.derechoPreferencia}} Por tanto, las acciones conceden iguales derechos e imponen iguales obligaciones. La adquisición de una acción significa, de pleno derecho, adhesión a los estatutos y a las decisiones de la Asamblea General de Accionistas.
        </span>
        <br><br>
        <span><b>ARTICULO 11°. </b>Títulos de Acciones: Las acciones serán representadas por títulos o certificaciones que llevan la firma autógrafa del representante legal y del secretario y serán expedidas en series numeradas y continuas. Por cada acción se expedirá un título, a menos que los accionistas prefieran títulos colectivos o parcialmente colectivos.</span>
        <br><br>
        <span><b>ARTICULO 12°. </b>Pérdida o Extravío de Títulos: En caso de pérdida o extravío, o hurto de un título de acción, se ordenará la expedición de uno nuevo con sujeción a las disposiciones legales, siempre que la petición sea fundada a costa del interesado, con la constancia de que se trata el duplicado, haciendo referencia al número del que se sustituye. Si el título perdido apareciere posteriormente, los accionistas deberán devolver a la sociedad el duplicado, que será destruido y anulado, en sesión de la Asamblea General de Accionistas, de lo cual se dejará constancia en el acta respectiva.
        </span>
        <br><br>
        <span><b>ARTICULO. 13°. RESPONSABILIDAD DE LOS ACCIONISTAS</b>La responsabilidad de los accionistas está dada en virtud de la ley 1258 de 2008 que regula este tipo societario. La sociedad llevará un libro de registro de accionistas, registrado en la Cámara de Comercio, en el que se anotarán el nombre, nacionalidad, domicilio, documento de identificación y número de acciones que cada uno posea, así como los embargos, gravámenes y cesiones que se hubieren efectuado, aún por vía de remate.</span>
        <br><br>
        <span>{{cont.textoDerechoPreferencia}}</span>
        <br><br>
        <span>Si los interesados no se ponen de acuerdo sobre el valor de las acciones, el valor de las mismas podrán ser avaluadas por peritos de la Cámara de Comercio que elija el oferente y que determinen su justo valor.  Acordado el precio, si no se paga el valor de las acciones en el término indicado por el oferente, las acciones seguirán a disposición de terceros o de los demás accionistas ilimitadamente sin que por ello se predique falta de ánimo societario de parte de la oferente.</span>
        <br><br>
        <span><b>TRANSFERENCIA DE ACCIONES A FIDUCIAS MERCANTILES / PARÁGRAFO: </b>Transferencia de acciones a fiducias mercantiles.- Las acciones en que se divide el capital de la sociedad por acciones simplificada podrán estar radicadas en una fiducia mercantil, siempre que en el libro de registro de accionistas se identifique a la compañía fiduciaria, así como a los beneficiarios del patrimonio autónomo junto con sus correspondientes porcentajes en la fiducia. Los derechos y obligaciones que por su condición de accionista le asisten al fideicomitente serán ejercidos por la sociedad fiduciaria que lleva la representación del patrimonio autónomo, conforme a las instrucciones impartidas por el fideicomitente o beneficiario, según el caso.</span>
        <br><br>
        <div style="text-align: center;">
            <b>CAPITULO III</b>
            <br>
            <b>ASAMBLEA GENERAL DE ACCIONISTAS </b>
        </div>
        <br>
        <span><b>ARTÍCULO 15°. ADMINISTRACIÓN: </b>: La dirección y administración de la sociedad, estará a cargo de los siguientes órganos: a) La Asamblea General de Accionistas, b) El GERENTE, que será el representante legal principal de la sociedad y c) El SUBGERENTE quien será la suplente del representante legal de la sociedad ambos ostentarán las mismas facultades pero el segundo actuará ante faltas temporales o definitivas del representante legal principal.</span>
        <br>
        <p>La sociedad también podrá tener un Revisor Fiscal, cuando así lo dispusieren los accionistas, o cuando así lo disponga la ley 1258 de 2008. </p>
        <br>
        <span><b>ARTÍCULO 16°. </b>La Asamblea General de Accionistas la integran los accionistas. Sus reuniones serán ordinarias y extraordinarias. Las ordinarias se celebrarán dentro de los tres primeros meses siguientes al vencimiento del ejercicio social, por convocatoria del Representante Legal.</span>
        <br><br>
        <span><b>ARTÍCULO 17°. </b>Las reuniones ordinarias tendrán por objeto examinar la situación de la sociedad, designar los Administradores y demás funcionarios de su elección, determinar las directrices económicas de la compañía, considerar las cuentas y balances del último ejercicio, resolver sobre la distribución de utilidades y acordar todas las providencias necesarias para asegurar el cumplimiento del objeto social.   La asamblea ordinaría deberá ser convocada por el representante legal de la sociedad a la dirección de los accionistas registrada en el libro correspondiente dentro de los 
        {{cont.a17texto}} ({{cont.a17}}) días hábiles anteriores a la realización de la misma.  En el evento de que no se convoque a la asamblea ordinaria cualquiera fuere su causa, los accionistas se reunirán por derecho propio el primer día hábil del mes de abril de cada anualidad a las 10 de la mañana en la sede social.
        </span>
        <br>
        <p>Las reuniones extraordinarias se efectuarán cuando las necesidades imprevistas o urgentes de la compañía así lo exijan, por convocatoria del Representante Legal y del Revisor Fiscal, si lo hubiere. La convocatoria para las reuniones extraordinarias
            se hará en la misma forma que para las ordinarias, pero con una anticipación de {{cont.a17texto2}} ({{cont.a172}}) hábiles a menos que en ellas hayan de aprobarse cuentas y balances generales de fin de ejercicio, pues entonces la convocatoria
            se hará con la misma anticipación prevista para las ordinarias.
        </p>

        <p>También serán viables las asambleas adelantadas sin previa convocatoria estando presente la totalidad de los accionistas, denominadas asambleas universales.</p>

        <p>Así mismo, previo el cumplimiento de lo establecido en la ley 222 de 1995 será posible adelantar reuniones no presenciales.</p>

        <span><b>ARTÍCULO 18°. </b> Las reuniones de la Asamblea General de Accionistas se efectuarán en el domicilio social. Sin embargo, podrá reunirse válidamente cualquier día y en cualquier lugar sin previa convocación, cuando se hallare representada la totalidad de las acciones que integran el capital social. </span>
        <br><br>
        <span><b>ARTÍCULO 19°. </b>Con el aviso de convocatoria para las reuniones extraordinarias se especificarán los asuntos sobre los que se deliberará y decidirá sin que puedan tratarse temas distintos, una vez agotado el orden del día. En todo caso, podrá remover a los Administradores y demás funcionarios cuya designación le corresponda. </span>
        <br><br>
        <span><b>ARTÍCULO 20°. </b>Cuando la sociedad tenga más de un accionista y si se convoca la Asamblea General de Accionistas y la reunión no se efectúa por falta de quórum, se citará a una nueva reunión (asamblea por segunda convocatoria) que sesionará y decidirá válidamente con un número de accionistas, que represente por lo menos el 
            {{cont.a20texto}} ({{cont.a20}}%) de las acciones suscritas. La nueva reunión deberá efectuarse no antes de los diez (10) días hábiles, ni después de los treinta (30) días, también hábiles, contados desde la fecha fijada para la primera reunión. Cuando la Asamblea General de Accionistas se reúna en sesión ordinaria por derecho propio el primer día hábil del mes de abril también podrá deliberar y decidir válidamente en los términos anteriores. En todo caso, las reformas estatutarias se adoptarán con el voto favorable de por lo menos el 
            {{cont.a20texto2}} ({{cont.a202}}%) de las acciones suscritas.
        </span>
        <br><br>
        <span><b>ARTÍCULO 21°. </b> Cuando la sociedad tenga más de un accionista, habrá quórum para deliberar tanto las sesiones ordinarias como en las extraordinarias con un número plural de accionistas que represente por lo menos el 
            {{cont.a21texto}} ({{cont.a21}}%) de las acciones suscritas, salvo que la ley establezca otra cosa. Con la misma salvedad, las reformas estatutarias se adoptarán con el voto favorable de un número plural de accionistas que representen por lo menos el 
            {{cont.a21texto2}} ({{cont.a212}}%)
        </span>
        <br><br>
        <span><b>ARTÍCULO 22°. </b> Los accionistas podrán hacerse representar en las reuniones de la Asamblea General de Accionistas mediante poder otorgado por escrito, en el que se indique el nombre del apoderado, la persona en quien éste puede sustituirlo y la fecha de la reunión para la cual se confiere, así como los demás requisitos señalados en los estatutos. El poder otorgado podrá comprender dos o más reuniones de la Asamblea General de Accionistas. </span>
        <br><br>
        <span><b>ARTÍCULO 23°. </b>Las decisiones de la Asamblea General de Accionistas se harán constar en actas aprobadas por la misma, o por las personas que se designen en la reunión para tal efecto, y firmadas por el Presidente y el Secretario de la misma, en las cuales deberá indicarse su número, el lugar, la fecha y hora de la reunión; el número de acciones en que se divide el capital, la forma y la antelación de la convocatoria, los asuntos tratados; las decisiones adoptadas. En el evento en que la sociedad adquiera mas accionistas se deberá indicar; la lista de los asistentes, con indicación del número de acciones propias o ajenas que representen y el número de votos emitidos a favor, en contra o en blanco; las constancias escritas presentadas por los asistentes durante la reunión; las designaciones efectuadas, y la fecha y hora de su clausura. </span>
        <br><br>
        <span><b>ARTÍCULO 24°. </b>Son funciones de la Asamblea General de Accionistas:
            <br>
            a)	Estudiar y aprobar las reformas de estatutos.
            <br>
            b)	Examinar, aprobar o improbar los balances de fin de ejercicio y las cuentas que deben rendir los administradores.
            <br>
            c)	Disponer de las utilidades sociales conforme a lo previsto en estos estatutos y en la ley.
            <br>
            d)	Elegir y remover libremente al Representante Legal y a su suplente, así como fijar la remuneración de ambos.
            <br>
            e)	Designar al secretario de la compañía, que lo será también de la Asamblea General de Accionistas.
            <br>
            f)	Elegir, remover libremente y fijar remuneración del asesor legal y contador de la empresa, así como de cualquier otro empleado que considere amerita su elección. 
            <br>
            g)	Considerar los informes que debe presentar el Representante Legal en las reuniones ordinarias y cuando la misma Asamblea se los solicite.
            <br>
            h)	Constituir las reservas que deba hacer la sociedad e indicar su inversión provisional.
            <br>
            i)	Resolver sobre todo lo relativo a la cesión de acciones, así como a la admisión de nuevos accionistas.
            <br>
            j)	Decidir sobre el registro y exclusión de accionistas.
            <br>
            k)	Ordenar las acciones que correspondan contra los administradores de los bienes sociales, el Representante Legal, el Revisor Fiscal, si lo hubiere, o contra cualquiera otra persona que hubiere incumplido sus obligaciones u ocasionado daños o perjuicios a la sociedad.
            <br>
            l)	Autorizar la solicitud de celebración del concordato preventivo potestativo.
            <br>
            m)	Constituir apoderados extrajudiciales, precisándoles sus facultades; y 
            <br>
            n)	Las demás que le asignen las leyes y estos estatutos.
            <br>
            <span ng-repeat="num in cont.letras | limitTo:cont.numeroFuncionesExtra">
                {{num}}) {{cont.funcionesExtra[$index]}}.
                <br>
            </span>

        </span>
        <br><br>
        <span><b>ARTÍCULO 26°. GERENTE: </b>La sociedad tendrá un Gerente, quien será el representante legal de la sociedad, de libre nombramiento y remoción de la Asamblea General de Accionistas, el cual tendrá un Sub gerente que será la suplente del representante legal y lo reemplazará en sus faltas absolutas, temporales o accidentales y cuya designación y remoción corresponderá también a la Asamblea General de Accionistas. El Gerente y Sub Gerente tendrán un período de 
            {{cont.a26texto}} {{cont.a26}} años, sin perjuicio de que puedan ser removidos en cualquier tiempo o que su nombramiento se renueve automáticamente en el evento de que la Asamblea General de Accionistas no manifieste lo contrario.
        </span>
        <p>El Gerente es el representante legal de la sociedad, con facultades, por lo tanto para ejecutar todos los actos y contratos acordes con la naturaleza de su encargo y que se relacionen directamente con el giro ordinario de los negocios sociales.
            En especial, el Representante tendrá las siguientes funciones: </p>

        a) Usar la firma o razón social.
        <br> b) Designar los empleados que requiera el normal funcionamiento de la compañía y señalarles su remuneración, excepto cuando se trate de aquellos que por ley o por estatutos deban ser designados por la Asamblea General de Accionistas. <br>        c) Presentar un informe de su gestión a la Asamblea General de Accionistas en sus reuniones ordinarias y el balance general de fin de ejercicio con un proyecto de distribución de utilidades. <br> d) Convocar a la Asamblea General de Accionistas
        a reuniones ordinarias y extraordinarias. <br> e) Nombrar los árbitros que correspondan a la sociedad en virtud de los compromisos, cuando así lo autorice la Asamblea General de Accionistas, y de la cláusula compromisoria que en estos estatutos
        se pacta; y <br> f) Constituir los apoderados judiciales necesarios para la defensa de los intereses sociales. <br> g) Obligar a la sociedad en actos o contratos que no superen los {{cont.a26texto2}} ({{cont.a262}}) salarios mínimos mensuales
        legales vigentes.
        <br><br>
        <span><b> ARTÍCULO 27°.  </b>Le está prohibido al gerente y demás administradores de la sociedad, por si o por interpuesta persona, obtener bajo cualquier forma o modalidad jurídica préstamos por parte de la sociedad, aval o fianza, o cualquier otro tipo de garantía de sus obligaciones personales salvo que medie aprobación de la Asamblea General de Accionistas. </span>
        <br><br>
        <span><b>ARTÍCULO 28º.  </b>El subgerente que es el representante legal suplente tendrá las mismas facultades de el Presidente durante sus faltas temporales o absolutas.</span>
        <br><br>
        <div style="text-align: center;">
            <b>CAPITULO V</b>
            <br>
            <b>INVENTARIO, BALANCE Y RESERVA LEGAL</b>
        </div>
        <br><br>
        <span><b>ARTÍCULO. 29°. </b>Anualmente, el 31 de diciembre, se cortarán las cuentas y se harán el inventario y el balance generales de fin de ejercicio que, junto con el respectivo estado de pérdidas y ganancias, el informe del Representante Legal y un proyecto de distribución de utilidades, se presentará por éste a consideración de la Asamblea General de Accionistas. Para determinar los resultados definitivos de las operaciones realizadas en el correspondiente ejercicio será necesario que se hayan apropiado previamente, de acuerdo con las leyes y con las normas de contabilidad, las partidas necesarias para atender el deprecio, desvalorización y garantía del patrimonio social. </span>
        <br><br>
        <span><b>ARTÍCULO 30°. RESERVA LEGAL: </b>{{cont.reservaLegal}}</span>
        <br><br>
        <span><b>ARTÍCULO. 31°. </b>La Asamblea General de Accionistas podrá constituir reservas ocasionales, siempre que tengan una destinación específica y estén debidamente justificadas. Antes de formar cualquier reserva, se harán las apropiaciones necesarias para atender el pago de impuestos. Hechas las deducciones por este concepto y las reservas que acuerde la Asamblea General de Accionistas, incluida la reserva legal, el remanente de las utilidades líquidas se repartirá entre los accionistas en proporción a las acciones que poseen. </span>
        <br><br>
        <span><b>ARTÍCULO 32º.  </b>En caso de pérdidas, éstas se enjugarán con las reservas que se hayan constituido para ese fin y, en su defecto, con la reserva legal. Las reservas cuya finalidad fuere la de absorber determinadas pérdidas no se podrán emplear para cubrir otras distintas, salvo que así lo decida la Asamblea General de Accionistas. Si la reserva legal fuere insuficiente para enjugar el déficit de capital, se aplicarán a este fin los beneficios sociales de los ejercicios siguientes.</span>
        <div style="text-align: center;">
            <b>CAPITULO VI</b>
            <br>
            <b>DISOLUCIÓN Y LIQUIDACIÓN</b>
        </div>
        <br>
        <span><b>ARTÍCULO 33°. </b>En los casos previstos en el Código de Comercio, podrá evitarse la disolución de la sociedad adoptando las modificaciones que sean del caso, según la causal ocurrida, con observancia de las reglas establecidas para las reformas de estatutos, a condición de que el acuerdo se formalice dentro de los seis (6) meses siguientes a la ocurrencia de la causal. 
        </span>
        <br><br>
        <span><b>ARTÍCULO 34°. </b>Disuelta la sociedad, se procederá de inmediato a su liquidación, en la forma indicada en la ley. En consecuencia, no podrá iniciar nuevas operaciones en desarrollo de su objeto y conservará su capacidad jurídica únicamente para los actos necesarios a la inmediata liquidación. El nombre de la sociedad (o su razón social, según el caso), una vez disuelta, se adicionará con la expresión “en liquidación”. Su omisión hará incurrir a los encargados de adelantar del proceso liquidatario en las responsabilidades establecidas en la ley. </span>
        <br><br>
        <span><b>ARTÍCULO 35°. </b>La liquidación del patrimonio social se hará por un liquidador o por varios liquidadores nombrados por la Asamblea General de Accionistas. Por cada liquidador se nombrará un suplente. El nombramiento se inscribirá en el registro público de comercio. Si la asamblea no nombra liquidador o liquidadores, la liquidación la hará la persona que figure inscrita como representante legal de la sociedad en el registro de comercio y será su suplente quien figure como tal en el mismo registro. No obstante lo anterior, podrá hacerse la liquidación por los mismos accionistas, si así lo acuerdan ellos unánimemente. Quienes administren bienes de la sociedad y sea designado liquidador no podrá ejercer el cargo sin que previamente se aprueben las cuentas de su gestión por la Asamblea General de Accionistas. Por tanto, si transcurridos treinta (30) días hábiles desde la fecha en que se designó liquidador, no se hubieren aprobado las mencionadas cuentas, se procederá a nombrar nuevo liquidador. </span>
        <br><br>
        <span><b>ARTÍCULO 36°. </b>Los liquidadores deberán informar a los acreedores sociales del estado de liquidación en que se encuentre la sociedad, una vez disuelta, mediante aviso que se publicará en un periódico que circule regularmente en el lugar del domicilio social y que se fijará en lugar visible de las oficinas y establecimientos de comercio de la sociedad. Además, tendrán los deberes y funciones adicionales que determine la ley. </span><br><br>
        <span><b>ARTÍCULO 37°. </b>Durante el período de liquidación de la Asamblea General de Accionistas se reunirá en las fechas indicadas en los estatutos para las sesiones ordinarias y, asimismo, cuando sea convocada por los liquidadores, y por el Revisor Fiscal si lo hubiere. </span><br><br>
        <span><b>ARTÍCULO 38°. </b>En el evento en que la sociedad adquiera nuevos accionistas, mientras no se haya cancelado el pasivo externo de la sociedad, no podrá distribuirse suma alguna a los accionistas, pero podrá distribuirse entre ellos la parte de los activos que exceda el doble del pasivo inventariado y no cancelado al momento de hacerse la distribución. </span><br><br>
        <span><b>ARTÍCULO 39°. </b>El pago de las obligaciones sociales se hará observando las disposiciones legales sobre prelación de créditos. Cuando hay obligaciones condicionales se hará una reserva adecuada en poder de los liquidadores para atender dichas obligaciones si llegaren a hacerse exigibles, la que se distribuirá entre los accionistas en caso contrario. </span><br><br>
        <span><b>ARTÍCULO 40°. </b>En el evento en que la sociedad adquiera nuevos accionistas, pagado el pasivo externo de la sociedad se distribuirá el remanente de los activos sociales entre los accionistas a prorrata de sus aportes. La distribución se hará constar en acta en que se exprese el nombre de los accionistas, el valor de sus correspondientes acciones y la suma de dinero o los bienes que reciba cada uno a título de liquidación. La Asamblea General de Accionistas podrá aprobar la adjudicación de bienes en especie a los accionistas con el voto de un número plural de accionistas que represente el 100% de las acciones en que se divide el capital social. El acta se protocolizará en una Notaría del domicilio principal. </span><br><br>
        <span><b>ARTÍCULO 41°. </b>En el evento en que la sociedad adquiera nuevos accionistas, hecha la liquidación de lo que a cada uno de los accionistas corresponda, los liquidadores convocarán a la Asamblea General de Accionistas, para que apruebe las cuentas y el acta a que se refiere el artículo anterior. Estas decisiones podrán adoptarse con el voto favorable de la mayoría de los accionistas que concurran, cualquiera que sea el valor de las acciones que representen en la sociedad. Si hecha debidamente la convocatoria no concurre ningún accionista, los liquidadores convocarán en la misma forma a una segunda reunión, para dentro de los diez (10) días hábiles siguientes; si a dicha reunión tampoco concurre ninguno, se tendrán por aprobadas las cuentas de los liquidadores, las cuales no podrán ser posteriormente impugnadas. </span><br><br>
        <span><b>ARTÍCULO 42°. </b>En el evento en que la sociedad adquiera nuevos accionistas, aprobada la cuenta final de la liquidación, se entregará a los accionistas lo que les corresponda, y si hay ausentes o son numerosos, los liquidadores los citarán por medio de avisos que se publicarán por lo menos tres (3) veces, con intervalo de ocho (8) a diez (10) días hábiles, en un periódico que circule en el lugar del domicilio social. Hecha la citación anterior y transcurridos diez (10) días hábiles después de la última publicación, los liquidadores entregarán a la Junta Departamental de Beneficencia del lugar del domicilio social y, a falta de ésta en dicho lugar, a la que funcione en el lugar más cercano, los bienes que correspondan a los accionistas que no se hayan presentado a recibirlos, quienes sólo podrán reclamar su entrega dentro del año siguiente, transcurrido el cual los bienes pasarán a ser de propiedad de la entidad de beneficencia, para lo cual el liquidador entregará los documentos de traspaso a que haya lugar. </span><br><br>
        <span><b>ARTÍCULO 43°. DISOLUCIÓN: </b>La sociedad se disolverá por: </span><br> 1. La pérdida de un 90% por cuenta del capital aportado.
        <br> 2. Por acuerdo unánime de los accionistas.
        <br> 3. Por las demás causales señaladas en la ley.

        <br><br>
        <span><b>ARTÍCULO 44°. LIQUIDACIÓN: </b>Disuelta la sociedad se procederá a su liquidación por el Representante legal o el suplente del representante legal, salvo que la Asamblea General de Accionistas resuelva designar uno o más liquidadores con sus respectivos suplentes, cuyos nombramientos deberá registrarse en la Cámara de Comercio del domicilio social. </span><br><br>
        <span> <b>
            PARAGRAFO PRIMERO</b> La existencia de la sociedad se entenderá prolongada para los fines de la liquidación por el tiempo que dure ésta.    <b>PARAGRAFO SEGUNDO. </b>
            El liquidador podrá distribuir en especie los bienes que sean susceptibles de ello, de acuerdo con el avalúo actualizado en la fecha de la liquidación, a menos que de común acuerdo los accionistas soliciten, para la liquidación, se realicen todos los activos.
        </span>
        <div style="text-align: center;">
            <b>CAPITULO VIII</b>
            <br>
            <b>DISPOSICIONES FINALES</b>
        </div>
        <br>
        <span><b>
            ARTÍCULO 45°. </b>1. Las reformas estatutarias se harán por documento privado, suscritas por el Representante Legal o el suplente del representante legal y se registrarán en la Cámara de Comercio correspondiente. <br>
            2. En el evento en que la sociedad adquiera nuevos accionistas, en caso de muerte de los accionistas, la sociedad continuará con uno o más de los herederos del accionista difunto, quienes nombrarán una sola persona que los represente. 

        </span>
        <br><br>
        <span><b>ARTÍCULO 46°. NOMBRAMIENTOS. </b>Se nombra como Gerente y por tanto representante legal de la sociedad, a 
        {{cont.nombreGerente}} identificado(a) con  {{cont.tipodocGerente}} No.  {{cont.numeroidGerente}} expedida en {{cont.fechaExpedicionGerente}} de {{cont.lugarExpedicionGerente}}, domiciliado en la ciudad de {{cont.residenciaGerente}} y quien representará legalmente a la sociedad. </span>
        <br> Como Subgerente y por tanto suplente del representante legal y secretario se nombra {{cont.nombreSubGerente}} identificado(a) con {{cont.tipodocSubGerente}} No. {{cont.numeroidSubGerente}} expedida en {{cont.fechaExpedicionSubGerente}} de
        {{cont.lugarExpedicionSubGerente}}, domiciliado en la ciudad de {{cont.residenciaSubGerente}}
        <br><br>
        <span><b>PARÁGRAFO. </b> Los nombramientos señalados en este artículo, son aceptados tanto por el gerente como por el subgerente y de ello dan fe cn la firma de esta acta.</span><br><br>
        <span><b>ARTÍCULO 47°. </b>{{cont.controversia}}</span>
        <br><br> El presente documento es suscrito por los asistentes, a los {{cont.diasDoc}} días del mes {{cont.mesDoc}} de {{cont.anioDoc}} en la ciudad de {{cont.ciudadDoc}}
        <br><br><br><br><br><br><br>
        <div style="text-align: center;">
            <b style="text-transform: uppercase;">{{cont.nombreGerente}}</b> {{cont.tipodocGerente}} No. {{cont.numeroidGerente}} de {{cont.fechaExpedicionGerente}}
            <br>
            <b>Acepta el cargo de gerente - representante legal de la sociedad.</b>

        </div>
        <br><br><br><br><br><br><br><br>
        <div style="text-align: center;">
            <b style="text-transform: uppercase;">{{cont.nombreSubGerente}}</b> {{cont.tipodocSubGerente}} No. {{cont.numeroidSubGerente}} de {{cont.fechaExpedicionSubGerente}}
            <br>
            <b>Acepta el cargo de sub gerente - suplente del representante legal de la sociedad.</b>

        </div>
    </div>




    <!-- <input type="button" value="Generar PDF" onclick="generarPDF()" class="btn"> -->

</body>
<footer>


</footer>

</html>