<div align="center">

    <h3>¿Cuantos personas jurídicas desea incluir?</h3>
    <div>
        <input type="number" min="0" max="10" ng-model="cont.numerojuridicas">

    </div>
    <ol ng-repeat="num in cont.numeros | limitTo:cont.numerojuridicas">
        <b>{{num}}</b>
        <span>
            Razón Social:
            <input type="text" ng-model="cont.razonSocial[$index]">
            Nit:
            <input type="text" ng-model="cont.nit[$index]">
            Número Matricula:
            <input type="number" ng-model="cont.numeroMatricula[$index]">
            <div>

                Fecha Matrícula:
                <input type="text" ng-model="cont.fechaMatricula[$index]">
                Lugar Matrícula:
                
                <input type="text" ng-model="cont.lugarMatricula[$index]">
            </div>
        </span>

    </ol>


    <a href="#!naturales">
        <input type="submit" value="Siguiente" class="btn">
    </a>

</div>

<hr>