<div align="center">

    <h3>¿Cuantos personas naturales desea incluir?</h3>
    <div>
        <input type="number" min="0" max="10" ng-model="cont.numeroNaturales">

    </div>
    <ol ng-repeat="num in cont.numeros | limitTo:cont.numeroNaturales">
        <b>{{num}}</b>
        <span>  
            Nombres completos:
            <input type="text" ng-model="cont.nombres[$index]">
            Apellidos:
            <input type="text" ng-model="cont.apellidos[$index]">
            Tipo de documento de id:
            <select ng-model="cont.tipodoc[$index]">
                <option value="Cédula de ciudadanía">Cédula de ciudadanía</option>
                <option value="Pasaporte">Pasaporte</option>
                <option value="Cédula extranjera">Cédula extranjera</option>
            </select>
            <!-- <input type="text" ng-model="cont.tipodoc[$index]"> -->
            <div>
                Número id:
                <input type="number" ng-model="cont.numeroid[$index]">
                Fecha expedición:
                <input type="text" ng-model="cont.fechaExpedicion[$index]">
                Lugar de expedición:
                <input type="text" ng-model="cont.lugarExpedicion[$index]">
            </div>

        </span>

    </ol>


    <a href="#!domicilioSociedad">
        <input type="submit" value="Siguiente" class="btn">
    </a>

</div>

<hr>