<div align="center">

    <h5>Nombramientos</h5>
    <h6>GERENTE</h6>
    Nombre completos Gerente:
    <input type="text" ng-model="cont.nombreGerente"> Tipo de documento de id:
    <select ng-model="cont.tipodocGerente">
        <option value="Cédula de ciudadanía">Cédula de ciudadanía</option>
        <option value="Pasaporte">Pasaporte</option>
        <option value="Cédula extranjera">Cédula extranjera</option>
    </select>
    <div>
        Número id:
        <input type="number" ng-model="cont.numeroidGerente"> Fecha expedición:
        <input type="text" ng-model="cont.fechaExpedicionGerente"> Lugar de expedición:
        <input type="text" ng-model="cont.lugarExpedicionGerente">Lugar residencia
        <input type="text" ng-model="cont.residenciaGerente">
    </div>
    <h6>Sub gerente</h6>
    Nombre completos Sub gerente:
    <input type="text" ng-model="cont.nombreSubGerente"> Tipo de documento de id:
    <select ng-model="cont.tipodocSubGerente">
        <option value="Cédula de ciudadanía">Cédula de ciudadanía</option>
        <option value="Pasaporte">Pasaporte</option>
        <option value="Cédula extranjera">Cédula extranjera</option>
    </select>
    <div>
        Número id:
        <input type="number" ng-model="cont.numeroidSubGerente"> Fecha expedición:
        <input type="text" ng-model="cont.fechaExpedicionSubGerente"> Lugar de expedición:
        <input type="text" ng-model="cont.lugarExpedicionSubGerente">Lugar residencia
        <input type="text" ng-model="cont.residenciaSubGerente">

    </div>

    <div>

        <a href="#!controversias">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>