<div align="center">

    <div>

        <span>Por favor consulte que el nombre o las siglas no estén en el registro mercantil.
            
            <a href="https://rues.org.co" target="blank">Para consultar, haga clic aquí</a>
        </span>
    </div>
    <h5>Digite el nombre de la nueva sociedad</h5>

    <input type="text" ng-model="cont.nombreEmpresa" placeholder="Nombre Empresa">
    <h5>Digite siglas de su sociedad</h5>
    <input type="text" ng-model="cont.siglas" placeholder="Digite Siglas">
    <div>

        <a href="#!juridicas">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>