<div align="center">

    <h5>¿Cuantos objetivos tendrá la sociedad?</h5>

    <input type="number" max="10" ng-model="cont.numeroObjeto">
    <br>
    <h6>Digite la descripción del objetivo y su código CIIU</h6>
    <ol ng-repeat="num in cont.numeros | limitTo:cont.numeroObjeto">
        <b>{{num}}</b>
        <span>  
            Descripción:
            <input type="text" ng-model="cont.descripcionCIIU[$index]">
            CIIU:
            <input type="number" ng-model="cont.ciiu[$index]" maxlength="4" >
        </span>

    </ol>

    <div>

        <a href="#!duracion">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>