<div align="center">

    <h5>¿La sociedad tendrá reserva legal?</h5>
    <select ng-model="cont.reservaLegal">
        <option value="La sociedad tendrá una reserva legal de que ascenderá por lo menos al cincuenta por ciento del capital suscrito, formada con el diez por ciento de las utilidades líquidas de cada ejercicio.">Si</option>
        <option value="La sociedad no formará reserva legal alguna">No</option>
    </select>
    <div>

        <a href="#!nombramientos">
            <input type="submit" value="Siguiente" class="btn">
        </a>
    </div>
</div>
<hr>