.btn {
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    fill: #2e8ece;
    color: #2e8ece;
    background-color: #ffffff;
    border: 1px solid #2e8ece;
    border-radius: 20px;
    margin: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn:hover {
    background-color: #2e8ece;
    color: white;
}

h1,
h2,
h4,
h5,
h6 {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.6em;
    text-transform: uppercase;
}

h3 {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.6em;
}

.margenesbody {
    margin-top: 1cm;
    margin-left: 3cm;
    margin-right: 3cm;
}


/* input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
} */